hr {
    width: 90%;
}

section h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

.info {
    margin: 0 100px;
}

#Top {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(img/developpement-web.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
}

#Top-content {
    font-size: 45px;
    margin-left: 50px;
    color: white;
}

.avatar {
    width: 100%;
    max-width: 420px;
    padding: 10px;
    margin: 10px;
}

#A-propos div article {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#A-propos div p {
    width: 100%;
    max-width: 650px;
    font-size: 18px;
    text-align: justify;
}

#A-propos article {
    padding: 10px;
    margin: 10px;
}

#Competences article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.imageCompetence {
    padding: 10px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s;
}

.imageCompetence:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#Competences img {
    max-width: 70px;
    max-height: 70px;
}

#cont-Projet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box-projet {
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 10px;
    transition: background-color 0.5s, margin 0.5s, padding 0.5s;
}

.box-projet:hover {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 0;
}

.box-projet img, #Formation img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#cont-Formation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box-Formation{
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 10px;
    transition: background-color 0.5s, margin 0.5s, padding 0.5s;
}

.box-Formation:hover {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    padding: 0;
}



#Contact div {
    display: flex;
    justify-content: center;
}

#Contact img {
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
    margin: 10px;
}



/* Responsive pour écrans mobiles */
@media (max-width: 768px) {
    body{
        font-size: 16px;
        width: 400px;
    }

    .info{
        margin: 0px;
        padding: 5px;
    }


    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header h2, header nav {
        margin: 10px 0;
    }

    header nav a {
        display: block;
        margin: 5px 0;
    }

    #Top {
        height: 50vh;
    }

    #Top-content {
        font-size: 24px;
        /*margin-left: 20px;*/
    }

    section h2{
        margin: 2% 0;
    }

    #A-propos div article {
        flex-direction: column;
    }

    #A-propos div p {
        font-size: 16px;
    }

    #A-propos img {
        max-width: 300px;
    }

    #Competences article {
        grid-template-columns: repeat(2, 1fr);
    }

    #Competences img {
        max-width: 30px;
        max-height: 30px;
    }

    #cont-Projet {
        grid-template-columns: 1fr;
    }

    .box-projet {
        width: 50%;
        height: 65%;
        margin: 10px auto;
    }

    .box-Formation{
        width: 50%;
        height: 65%;
        margin: 10px auto;        
    }

    #Formation img {
        max-width: 300px;
    }

    #Contact img {
        max-width: 40px;
        max-height: 40px;
    }
}

/* Responsive pour tablettes */
@media (max-width: 1024px) {
    body{
        font-size: 16px;
        width: fit-content;
    }
    #Competences article {
        grid-template-columns: repeat(4, 1fr);
    }

    #cont-Projet {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-projet {
        width: 50%;
        height: 65%;
        margin: 10px auto;
    }

    .box-Formation{
        width: 50%;
        height: 65%;
        margin: 10px auto;        
    }
}